{
    "presets": [
        ["@babel/preset-react"]
    ],
    "plugins": [
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ]
}
