{
    "root": true,
    "extends": ["plugin:react/recommended", "@hh.ru/eslint-config"],
    "rules": {
        "class-methods-use-this": "off",
        "react/no-find-dom-node": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off"
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./webpack.config.js"
            }
        },
        "react": {
            "version": "16.8"
        }
    }
}
